@font-face {
    font-family: 'Yandex Sans Text';
    src: url('./fonts/YandexSansText-Bold.woff') format('woff'), url('./fonts/YandexSansText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('./fonts/YandexSansText-Medium.woff') format('woff'), url('./fonts/YandexSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('./fonts/YandexSansText-Regular.woff') format('woff'), url('./fonts/YandexSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Yandex Sans Text', sans-serif;
    font-weight: normal;
    font-size: 13px;
    overflow-y: scroll;
}

h1{ 
text-align: center; }

h1::first-letter {
  color: red;
}

.board {
    box-sizing: border-box;
    padding: 4%;
    width: 100%;
    max-width: 1024px;
    min-width: 579px;
    margin: 0 auto;
}

.content_cell_info {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

.content_cell {
    display: inline-block;
    width: 200px;
    padding: 0 9px;
}

.content_cell:hover img {
    opacity: 0.7;
}

img {
    display: block;
    margin: 0 auto 5px;
    max-width: 200px;
}

p {
    font-size: 13px;
    line-height: 150%;
    display: inline-block;
    text-align: justify;
}

a {
    white-space: nowrap;
    display: inline-block;
    width: 90%;
    height: 24px;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
}

.invisible {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover, .n-cat__info:hover {
    color: red;
    overflow: visible;
    text-decoration: underline;
}

a:hover .invisible {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    width: auto;
    height: auto;
}

.n-cat__info {
    cursor: pointer;
    display: block;
    height: 13px;
    font-size: .8em;
    color: #4c4c4c;
    text-decoration: underline;
    margin-top: 5px;
}

.n-price {
    display: block;
    color: #9e0d0d;
    font-weight: 900;
    font-size: larger;
    padding-top: 0px;
    margin-top: -5px;
}

.n-former__price {
    font-size: .8em;
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}

/*star-rating
*/
.rate {
    display: inline-block;
    border: 0;
    color: #ffed94;
    padding: 0;
    margin: 5px 0;
}

.rate>input {
    display: none;
}

.rate>label {
    float: right;
}

.rate>label:before {
    display: inline-block;
    font-size: 0.9rem;
    padding: .1rem .01rem;
    margin: 0;
    cursor: pointer;
    font-family: 'Font Awesome 5 Free';
    content: "\f005";
    font-weight: 200;
}

.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
    font-weight: 200;
    width: 13px;
    overflow: hidden;
}

.content_holder {
    line-height: 1.5;
}

.rate input:checked~label, .rate label:hover, .rate label:hover~label {
    color: #ffd91a;
    font-family: 'Font Awesome 5 Free';
    content: "\f005";
    font-weight: 900;
}

#displ_cell:checked ~ .content_cell {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

#displ_cell:checked ~ .content_cell .content_cell_info {
    display: inline-block;
    width: 55%;
    min-width: 270px;
}

#displ_cell:checked ~ .content_cell img {
    display: inline-block;
}

#displ_cell:checked ~ .content_cell .content_cell_info .content_holder {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
}

#displ_cell:checked ~ .content_cell .content_cell_info p {
    display: inline-block;
    float: right;
    width: 45%;
    max-height: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.displ_property_sign label {
    cursor: pointer;
}

input#displ_cell {
    display: none;
}

input#displ_cell:checked+div.displ_property_sign label[for='displ_cell']>i {
    display: none;
}

input#displ_cell+div.displ_property_sign label[for='displ_cell']::after {
    content: '\f03a';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
}

input#displ_cell:checked+div.displ_property_sign label[for='displ_cell']::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f00a';
    font-size: 20px;
}
